body {
  background-color: #fcfcfc;
  margin: 0;
  overflow: hidden;
  #root {
    .wrap {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      .card {
        width: 75vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        .filters {
          > div {
            padding-bottom: 0;
            display: flex;
            justify-content: space-around;
            width: 35vw;
            height: 35vw;
            align-items: center;
            position: relative;
            top: 10%;
            div {
              .Chip {
                text-transform: capitalize;
              }
            }
          }
        }
      }
      .list {
        bottom: 0;
        transform: scale(0.8);
      }
    }
  }
}
