body {
  background-color: #fcfcfc;
  margin: 0;
  overflow: hidden;
  #root {
    .wrap {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        width: 75vw;
        margin: auto;
        display: flex;
        justify-content: space-around;
        .filters {
          > div {
            padding-bottom: 0;
            display: flex;
            justify-content: space-around;
            width: 35vw;
            height: 35vw;
            align-items: center;
            position: relative;
            top: 10%;
          }
        }
      }
    }
  }
}
